{{! corresponding files: people_emailtemplate.php & people_emailtemplate.json }}


<h4>Add an email template</h4>


<label>Template Name</label>
<input placeholder="Template name"></input>
<label>Template Code (HTML)</label>
<textarea  class="taller" placeholder="Paste code here"></textarea>



<a class="button" href="/people/emailtemplate/create">Create template</a>

</div><!--pure-->
